* {
font-family: 'Space Grotesk', sans-serif;
font-size: 16px;
}
:root {
    --orng: #F8673D    ;
    --prmary_black: #12141D;
    --secondary_black: #18181B;
    --blue_black: #1C202B;
    --blue: #175FB3;
}
img {
    width: 100%; /* or max-width: 100%; */
    height: auto;
}
.navbar-brand img {
    width: 7.1875rem;
}
.material-symbols-outlined {
    font-size: 1rem;
    vertical-align: middle;
}
.list-inline-item:not(:last-child) {
    margin-right: 2.5rem;
}
.orng-element {
    background-color: #F8673D;
}
.icon {
    width: 2rem;
}
.navbar-nav button,
.content button {
    padding: 1rem 1.5rem;
    border-radius: 0.3125rem;
}
header .nav-item {
    padding-inline: 1rem;
}
header .features {
    padding: 3rem;
}
header .content-container {
    color: #fff;
    height: 727px;
    border-radius: 1rem;
    background-image: url('../images/BG1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.content-container p {
    color: rgba(255, 255, 255, 0.69);
    font-size: 1.25rem;
}
.card h4, .card p {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--prmary_black);
}
.card p {
    opacity: 75%;
}
.content-container h1 {
    font-size: 5rem;
    font-weight: 700;
}

.container .card-header img {
    width: 2rem;
}
.card-body p {
    font-size: 1rem;
    font-weight: 400;
}

.main-page .mixland-section {
    background-color: #FAFAFA;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.main-page .track-real {
    background-color: var(--blue_black);
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.main-page .full-bleed {
    box-shadow: 0 0 0 100vmax #FAFAFA;
    clip-path: inset(0 -100vmax);
}
.main-page .full-bleed-dark {
    box-shadow: 0 0 0 100vmax var(--blue_black);
    clip-path: inset(0 -100vmax);
}
.mixland-section .row .col-md-4 .card:first-of-type {
    background-color: #fff;
}
.mixland-section .row .col-md-4 .card:hover {
    background-color: #fff !important;
    border-radius: 10px;
}
.mixland-section h1 {
    font-size: 3rem;
    font-weight: 700;
}
.mixland-section .card {
    width: 26rem;
    line-height: 2rem;
    padding: 1rem;
}
.mixland-section .card h5 {
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-weight: 700;
}
.track-real h2,
.track-real .num,
.track-real .col-md-1,
≈.track-real p {
    color: #fff;
}
.track-real .col-md-4,
.track-real .col-md-3 {
    display: flex;
    font-size: 0.875rem;
    color: #fff;
    align-items: center;
}
.track-real h2 {
    font-size: 2.625rem;
}
.track-real p {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #A1A1AA;
}
.track-real .col-md-1,
.track-real .num {
    font-size: 3rem;
    font-weight: 700;
}
.pricing p {
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
}
.pricing .card {
    width: 21.875rem;
    height: 26.8125rem;
    line-height: 2rem;
    background-color: #F4F4F5;
    padding: 1rem;
}
.pricing .card-body li {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 35px;
    color: var(--secondary_black);
}
.pricing .card-header h4 {
    font-size: 0.8125rem
}
.pricing .pricing-header {
    margin-bottom: 5rem;
}
.pricing .standard {
    background-color: var(--secondary_black);
    border-radius: 10px;
    height: 30.1875rem;
    position: relative;
    top: -53px;
}
.card-body button {
    background-color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem
}
.pricing .standard button {
    background-color: var(--orng);
    color: #fff;
}
.carousel-control-prev {
    left: 88%;
    width: 7%;
}
.carousel-control-next {
    width: 7%;
}
.carousel-control-next, .carousel-control-prev {
    top: -6.5rem;
    height: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 2rem;
  width: 100px;
  background: none;
  background-image: none;
}
.carousel-item .col-md-6 p {
    margin-bottom: 3rem;
}
.carousel-item .col-2 img {
    width:3.9375rem;
    height: 3.9375rem;
}
.carousel-control-next-icon:after
{
  content: url('../images/next.svg');
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: url('../images/prev.svg');
  font-size: 55px;
  color: red;
}
.carousel button span {
    color: var(--prmary_black)
}
footer {
    background-color: var(--blue_black);
}
.upper-footer {
    background-color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.z-footer {
    background-color: var(--blue);
    padding-top: 3rem;
    padding-bottom: 4rem;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
    position: relative;
    top: -12rem;
}
.copyright a{
    color: #fff;
}
footer .copyright {
    padding-bottom: 2rem;
}

@media (max-width: 767.98px) { 
    .content-container h1 {
        font-size: 3rem;
    }
    .mixland-section h1 {
        font-size: 2rem;
    }
    .track-real h2 {
        font-size: 2rem;
    }
    .track-real {
        padding: 1rem;
    }
    .content-container p {
        font-size: 1rem;
    }
    .card h4, .card p {
        font-size: 1rem;
    }
    .card-body p {
        font-size: 0.75rem;
    }
    header .features {
        padding: 1.5rem;
    }
    .pricing .card {
        width: auto;
        margin-bottom: 1rem;
    }
    .pricing .standard {
        position: relative;
        top: 0;
    }
    .mixland-section .card {
        padding: 2rem;
        width: auto;
    }
    .track-real .row .col-1 {
        font-size: 3rem;
    }
    .track-real .col-md-6 .row,
    .track-real .col-md-3  {
        justify-content: center;
        text-align: center;
    }
    .carousel .carousel-item .col-10 {
        padding-left: 2rem;
    }
    .carousel-control-prev {
        left: 80%;
    }
    .copyright p,
    .copyright ul {
        text-align: center;
    }
    
}

